<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/components/head/head.tpl?__inline">
</head>
<body>
    <div id="wrap">
        <ui-header title='找回密码'>
            <ui-header-back slot='left'></ui-header-back>
        </ui-header>
        <validator name="validation">
            <div class='m-form'>
                <div class="m-form__item">
                    <i class="icon-phone"></i>
                    <input 
                        class="text-input" 
                        type="text" 
                        placeholder="手机号码" 
                        v-model="mobile"
                        v-validate:mobile="{required:true,mobile:true}"
                    >
                </div>
                <div class="m-form__item">
                    <i class="icon-code"></i>
                    <input 
                        class="text-input" 
                        type="text" 
                        placeholder="验证码" 
                        maxlength="4" 
                        v-model="code"
                        v-validate:code="{required:true,minlength:4,maxlength:4}">
                    <ui-button-code
                        size='small' 
                        :time.sync='time'
                        @click="getCodeBySMS"></ui-button-code>
                </div>
                <div class="m-form__item">
                    <i class="icon-lock"></i>
                    <input 
                        class="text-input" 
                        placeholder="密码" 
                        :type="showPassword?'text':'password'" 
                        v-model="password"
                        v-validate:password="{required:true,minlength:6}">
                    <ui-password-strong :password='password'></ui-password-strong>
                    <i :class="showPassword?'icon-see':'icon-nosee'" @click='togglePassword'> </i>
                </div>
            </div>
        </validator>
        <div class="g-con">
            <ui-button type='primary' size='biger' block='true' @click="submit">
                {{isSubmiting?'正在提交...':'找回密码'}}
            </ui-button>
        </div>
        <div class="g-con f-clearfix">
            <a class="f-c-strong f-fr" @click='getCodeByTel'>语音验证码</a>
        </div>
    </div>
</body>

</html>